@model CategoryType
@{
    ViewData["Title"] = "Create Category Type";
}

<div class="container shadow p-5">
    <div class="row">
        <h1>Add Category Type</h1>
    </div>
    <form method="post">
        @*<div asp-validation-summary="All" class="alert-danger"></div> *@
        <div class="form-floating mb-3">
            <input type="text" class="form-control" asp-for="Name" placeholder="Enter category type name" />
            <label for="CategoryName">Category Type Name</label>
            <span asp-validation-for="Name" class="alert-danger"></span>
        </div>
        <button type="submit" class="btn btn-success">Save</button>
        <a asp-controller="CategoryTypes" asp-action="Index" class="btn btn-primary">Back</a>
    </form>
</div>