@model CategoryType
@{
    ViewData["Title"] = "Edit Category Type";
}
<div class="container shadow p-5">
    <div class="row">
        <h2>Edit Category Type</h2>
    </div>

    <form method="post" asp-action="Edit">
        <div class="form-row">
            <div class="form-floating mb-3">
                <input type="text" class="form-control" asp-for="Type" placeholder="Enter category type" readonly="readonly" />
                <label asp-for="Type">Category Type</label>
            </div>
            <div class="form-floating mb-3">
                <input type="text" class="form-control" asp-for="Name" placeholder="Enter category type name" />
                <label asp-for="Name">Category Type Name</label>
                <span asp-validation-for="Name" class="alert-danger"></span>
            </div>
        </div>
        <button type="submit" class="btn btn-success">Update</button>
        <a asp-controller="CategoryTypes" asp-action="Index" class="btn btn-primary">Back</a>
    </form>
</div>
